<div class="row">
  <div class="col-md-9">
  <section id="jobs">
      <div class="row">
        <% @jobs.each do |job| %>
          <% unless job.expired? %>
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h1 class="panel-title"><%= job.title %></h1>
                </div>
                <div class="panel-body">
                  <div class="jobs">
                    <p><%= job.location %></p>
                    <p><%= job.company.name %></p>
                    <% if job.recent? %>
                      <em>Novidade</em><br>
                    <% end %>
                    <%= link_to 'Ver mais', job %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </section>
  </div>

  <div class="col-md-3">
    <div class="row">
      <div class="col-md-12">
        <h3>Empresas</h3>
        <aside>
          <ul class="list-unstyled">
          <% @companies.each do |company| %>
            <li><%= link_to company.name, company %></li>
            <% if(company.premium?) %>
              <em>Empresa Premium</em>
            <% end %>
          <% end %>
        </ul>
        </aside>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Categorias</h3>
        <aside>
          <ul class="list-unstyled">
          <% @categories.each do |category| %>
            <li><%= link_to category.name, category %></li>
          <% end %>
        </ul>
        </aside>
      </div>
    </div>
  </div>
</div>
