<h1>Emprego Já</h1>
<%= form_for @company do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  <%= f.label :location %><br>
  <%= f.text_field :location %><br>
  <%= f.label :cnpj %><br>
  <%= f.text_field :cnpj %><br>
  <%= f.label :mail %><br>
  <%= f.text_field :mail %><br>
  <%= f.label :phone %><br>
  <%= f.text_field :phone %><br>
  <%= f.submit 'Criar Empresa' %>
<% end %>
