<h1>Emprego Já</h1>
<h2><%= @company.name %></h2>
<div>
  <p><%= @company.location %></p>
  <p><%= @company.phone %></p>
  <p><%= @company.mail %></p>
</div>
<div>
  <% @company.jobs.each do |job| %>
  <p><%= job.title %></p>
  <p><%= job.category %></p>
  <p><%= job.description %></p>
  <p><%= job.location %></p>
  <% end %>
</div>
